.action-body {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  flex: 1;
  color: #1a1d35;
  background-color: #ffffff;
  height: 700px;
  border-bottom: solid 5px;
  border-image: linear-gradient(45deg, #c90909, #ffc400, #ffc400);
  border-image-slice: 2;
}

.action-main {
  color: #1a1d35;
  padding: 20px;
  background: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 1200px;
  height: 550px;
  text-align: center;
}

.action-main h1 {
  margin-bottom: 0;
  font-size: 3.8em;
}

.action-hr-div {
  display: flex;
  align-items: center;
  justify-content: center;
}

.action-hr {
  height: 20px;
  width: 150px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 15px;
}

.action-hr-left {
  align-items: flex-end;
}

.action-hr hr {
  border: none;
  border-bottom: #580000 1px solid;
  height: 2px;
  width: 75%;
  margin: 3px 0;
}

.action-hr-top {
  border-color: #9c7a0b !important;
  width: 100% !important;
}

.action-main h3 {
  padding: 30px;
  font-size: 1.3em;
  font-weight: 300;
  width: 70%;
}

.action-main button {
  background: none;
  border: none;
  border-radius: 10px;
  position: relative;
  width: 32%;
  height: 13%;
  font-size: 1.55em;
  letter-spacing: 2px;
  color: #c40000;
  margin-top: 5px;
  filter: drop-shadow(#0000005d 1px 1px 1px);
  box-shadow: #000000 1px 1px 1px;
  text-transform: uppercase;
  font-weight: 600;

  transition: all 0.1s;
}

.action-main button::before {
  content: "";
  position: absolute;
  inset: 0;
  border: 5px solid transparent; /*2*/
  border-radius: 10px;
  background: linear-gradient(45deg, #c90909, #ffc400) border-box; /*3*/
  mask: /*4*/
    linear-gradient(#000 0 0) padding-box,
    linear-gradient(#000 0 0);
  mask-composite: exclude; /*5*/
}

.action-main button:hover {
  cursor: pointer;
  filter: contrast(130%) drop-shadow(#00000079 2px 2px 2px);
  box-shadow: #000000 3px 3px 4px;
}

.action-links {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  justify-content: center;
  align-items: center;
}

.action-links .about-top-links {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.action-links .about-top-links h3 {
  padding: 28px 20px 20px 5px;
}

.action-links h2 {
  margin: 0;
  font-size: 2em;
  text-align: left;
}
