.header-div {
  display: flex;
  position: absolute;
  top: 0;
  width: 100%;
  flex: 1;
  justify-content: space-between;
  flex-direction: row;
  height: 100px;
  background-color: #00000010;
}

@keyframes slideIn {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideOut {
  0% {
    opacity: 1;
    transform: translateY(20px);
  }
  100% {
    opacity: 0;
    transform: translateY(0px);
  }
}

.header-sticky {
  position: fixed;
  top: 0;
  animation-name: slideIn;
  animation-duration: 0.5s;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
  background-color: #ffffff;
  overflow: hidden;
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;
  height: 70px !important;
  filter: drop-shadow(#000000 3px 0 4px);
  z-index: 100;
}
.header-list {
  display: none;
}

.header-sticky span {
  font-family: "Axis", sans-serif;
  font-size: 0.6em;
  font-weight: 800;
  letter-spacing: 4px;
  color: rgba(0, 0, 0, 0.671);
}

.header-sticky .nav-container a {
  padding: 0 22px !important;
}

.header-sticky .header-contact .header-space-back {
  background-color: #ed6300;
  filter: none;
  box-shadow: inset 1px 1px 4px #0000006c;
}

.header-sticky .page-selected .header-space-back,
.header-sticky .header-space:hover > .header-space-back {
  background-color: #fdba00;
  filter: none;
  box-shadow: inset 0.5px 0.5px 6px #0000002a;
}

.header-sticky .header-contact span,
.header-sticky .page-selected span,
.header-sticky .header-space:hover span {
  color: white;
}

.header-out {
  animation-name: slideOut;
  animation-duration: 0.5s;
  animation-timing-function: ease-out;
}

.header-none {
  display: none;
}

.logo-img {
  padding-top: 0;
  height: 100%;
  width: 100%;
  position: relative;
  z-index: 1;
  display: flex;
  align-items: center;
}

.logo-img > a {
  margin-left: 50px;
  margin-bottom: 10px;
  background-repeat: no-repeat;
  background-position: left center;
  background-size: contain;
  float: left;
  display: block;
  width: 240px;
  height: 90%;
  transform: scale(1.3);
  background-image: url(/Logo-Boy.svg);
  transition: 0.5s;
}
.logo-img > a:hover {
  shape-rendering: crispEdges;
  background-image: url(/Logo-King.svg);
}

.page-selected {
  display: block;
}

.header-space {
  overflow: hidden;
  max-width: 150px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: fit-content;
}

.header-space * {
  z-index: 10;
}

.header-space-top {
  display: block;
  height: 5%;
}

.header-space-bottom {
  width: 0;
  transition: all 0.5s;
}

.header-space:hover > .header-space-back,
.page-selected > .header-space-back,
.header-contact > .header-space-back {
  background-color: #0000002c;
  transition:
    background-color 1s,
    all 0.5s;
  width: 100%;
  filter: drop-shadow(#000000d3 -1px 1px 2px);
  height: 100%;
}

.header-contact:hover > .header-space-back {
  background-color: #0000006b;
}

.header-space-back {
  transition:
    background-color 1s,
    all 0.5s;
  background-color: transparent;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 0%;
  height: 0%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.page-selected > .header-space-bottom,
.header-space:hover > .header-space-bottom {
  display: block;
  background-color: #00000059;
  height: 5%;
  width: 110%;
  transition: all 0.7s;
}

.header-contact {
  box-sizing: border-box;
  padding: 0;
  width: 125px;
}

.header-contact a {
  padding: 0 !important;
}

.nav-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.nav-container a {
  height: 90%;
  width: 100%;
  display: flex;
  padding: 0 20px;
  justify-content: center;
  align-items: center;
}
.title {
  width: fit-content;
  margin: 5px 30px 5px 30px;
}
